[Unit]
Description=Hodhod Gemserver
After=network.target

[Service]
Type=simple
Restart=always
User=root
ExecStart=/root/go/bin/hodhod -config /etc/hodhod.json

[Install]
WantedBy=multi-user.target
