[Unit]
Description=Molly Brown gemini server
After=network.target

[Service]
Type=simple
Restart=always
User=ubuntu
ExecStart=/usr/local/go/bin/molly-brown -c /etc/molly.conf

[Install]
WantedBy=multi-user.target
